@using WebApplication2.Models.ViewModels.Products
@model IEnumerable<SpecialView>

@{
    ViewData["Title"] = "Aproove";
    int count = 1;
    var message = TempData["message"];
}

@section Breadcrump{<nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="?/Admin">صفحه اصلی </a></li>
            <li class="breadcrumb-item" active" aria-current="page">انتخاب محصولات</li>
            <li class="breadcrumb-item active" aria-current="page"><=شما اینجا هستید</li>
        </ol>
    </nav> }
<div class="card text-right border-primary">
    <p class="text-danger text-center align-content-md-center">@message</p>
    <form class="order-form" method="post" asp-action="FinalSave" asp-controller="SpecialProduct">
        <div class="card-body">
            <table class="table caption-top">
                <thead>
                    <tr class="bg-light">
                        <th scope="col" style="width:5%">#</th>
                        <th scope="col" style="width:10%">نام کالا</th>
                        <th scope="col" style="width:10%">برند </th>
                        <th scope="col" style="width:17%" class="text-center">قیمت</th>
                        <th scope="col" style="width:17%" class="text-sm-center">نخفیف</th>
                        <th scope="col" style="width:17%" class="text-center">ساعت شروع</th>
                        <th scope="col" style="width:17%" class="text-center">ساعت پایان</th>
                        <th class="text-left" scope="col">تنظیمات</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <th scope="row">@count</th>
                        <td>
                            <strong class="h5">
                                <a href="#">
                                    @item.title
                                </a>
                            </strong><br />
                            <span class="text-muted">@item.id</span>
                        </td>
                        <td>@item.brand</td>
                        <td>@item.price</td>
                        <td>
                            <div class="col-md-12">
                                <input type="number" class="form-control" id="txtquantity" name="discount" maxlength="50" required>
                                <div class="invalid-feedback ">
                                    یه اسم درست بذار
                                </div>
                                <div class="valid-feedback ">
                                    خوبه
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="col-md-12">
                                <input type="datetime-local" class="form-control" id="txtquantity" name="starthour" maxlength="50" required>
                                <div class="invalid-feedback ">
                                    یه اسم درست بذار
                                </div>
                                <div class="valid-feedback ">
                                    خوبه
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="col-md-12">
                                <input type="datetime-local" class="form-control" id="txtquantity" name="endhour" maxlength="50" required>
                                <div class="invalid-feedback ">
                                    یه اسم درست بذار
                                </div>
                                <div class="valid-feedback ">
                                    خوبه
                                </div>
                            </div>
                        </td>
                        <td class="align-middle text-left ">                          
                            <a class="dropdown-item text-danger" asp-action="Delete" asp-controller="SpecialProduct" asp-area="Admin" asp-route-id="@item.id"> حذف </a>
                            <input type="hidden" class="order-form-radio__input" name="Id" value="@item.id" />
                        </td>
                    </tr>

                        { count++; }
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4 ">
                <button type="submit" class="btn btn-primary col-md-2">
                    ثبت
                </button>
            </div>
        </div>
    </form>



    <nav aria-label="..." dir="ltr">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <span class="page-link">2</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>


