@model List<BannerView>
@{
    ViewData["Title"] = "لیست بنرها";
    var count = 1;
    var massage = TempData["message"];
}
@section Breadcrump{<nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">صفحه اصلی </a></li>
            <li class="breadcrumb-item" active" aria-current="page"> بنرها </li>
            <li class="breadcrumb-item active" aria-current="page"><=شما اینجا هستید</li>
        </ol>
    </nav> }
<div class="card text-right border-primary">
    <div class="card-body">
        <table class="table caption-top">
            <thead>
                <tr class="bg-light">
                    <th class="text-center" scope="col">#</th>
                    <th class="text-center" scope="col">
                        شناسه بنر
                    </th>
                    <th class="text-center" scope="col">تصویر</th>
                    <th class="text-center" scope="col">نوع</th>
                    <th class="text-center" scope="col">تنظیمات</th>
                </tr>
            </thead>
            <tbody>
                <p class="text-danger text-xl-right">@massage</p>
                @foreach (var banner in Model)
                {
            <tr>
                <td scope="row" class="align-middle text-center">@count</td>
                <td class="align-middle text-center">
                    <strong class="h5"><a asp-action="List" asp-controller="Banner" asp-area="Admin" asp-route-id="@banner.id"> @banner.link </a></strong><br />
                    <span></span><br />
                    <span class="text-muted">شناسه: @banner.id</span>
                </td>
                <td class="align-middle text-center">
                    @if (banner.isspesial == "True")
                    {
                        <img src="~/Images/banners/top-banner.png" style="max-height:150px;max-width:150px;" alt="@banner.link" />
                    }
                    else
                    {
                        <img src="~/Images/banners/@banner.Imagename" style="max-height:150px;max-width:150px;" alt="@banner.link" />

                    }
                </td>
                @if (banner.isspesial == "True")
                {
                    <td class="align-middle text-center" scope="row">بنر تاپ</td>
                }
                else
                {
                    <td class="align-middle text-center" scope="row">بنر اسلایدی</td>
                }
                <td class="align-middle text-center">
                    <div class="dropdown1 btn-group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <ul class="dropdown-menu" style="text-align:center;" aria-labelledby="btnGroupDrop1">
                            <li class="dropdown-item"><a asp-action="Index" asp-controller="Banner" asp-area="Admin" asp-route-id="@banner.id">جزییات</a></li>
                            <li class="dropdown-item"><a class=" text-danger" asp-action="Delete" asp-controller="Banner" asp-area="Admin" asp-route-id="@banner.id"> حذف</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
</div>